<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />

        <!-- TODO: add link tags, other meta tags, open graph info, etc. -->
        <link rel="stylesheet" href="/css/tw-styles.css" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body class="tw-border-emerald-900 tw-border-4 tw-m-1">
        {% block header %}
            <header>
                <p>This is the header.</p>
            </header>
        {% endblock %}
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {% block footer %}
            <footer>
                <p>This is the footer.</p>
            </footer>
        {% endblock %}
        <script src="/additive-math.js" type="module"></script>
        <script src="/additive-math.legacy.js" nomodule></script>

        {% block scripts%}{% endblock %}
    </body>
</html>